* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  align-content: center;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  font-size: 25px;
  padding-top: 1em;
}

.list-items {
  font-size: 40px;
  list-style-type: none;
  margin-bottom: 1em;
  text-align: center;
  padding: 0;
}

.kodego {
  background-color: lightskyblue;
  margin: 10% 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal {
  background-color: lightslategrey;
  margin: 10% 10px;
}

.projects {
  background-color: rgb(122, 149, 176);
  margin: 10% 10px;
}

a,
.list-items {
  text-decoration: none;
}

.links:hover {
  text-decoration: bisque 2px underline;
}

.links:link,
.links:active {
  color: rgb(210, 243, 139);
}

.links:visited {
  color: rgb(210, 243, 139);
}
