* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  align-content: center;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  font-size: 25px;
  padding: 1em;
}

.list-items {
  font-size: 40px;
  list-style-type: none;
  margin-top: 0;
  text-align: center;
}

.kodego {
  background-color: lightskyblue;
  margin: 10% 10px;
}

.personal {
  background-color: lightslategrey;
  margin: 10% 10px;
}

.links:hover {
  color: rgb(96, 190, 95);
}

.links:link {
  color: rgb(96, 190, 95);
}

.links:visited {
  color: rgb(96, 190, 95);
}
