* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  text-align: center;
  align-content: center;
}

h1 {
  font-size: 25px;
  padding: 1em;
}

.list-items {
  font-size: 40px;
  list-style-type: none;
  margin-top: 0;
  text-align: center;
}
