* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/Netflix-Background.jpg);
  background-size: cover;

  font-family: "Helvetica", "Arial", sans-serif;
}

.header-container {
  color: #fff;
  background: rgba(0, 0, 0, 0.337);

  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.menu {
  display: flex;
  justify-content: space-around;
}

.language-dropdown {
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: red;
  font-weight: bolder;

  align-self: center;

  padding: 5px;
  border: 2px solid red;
  border-radius: 5px;

  margin-left: 650px;
  cursor: pointer;
}

.signin-btn {
  text-align: center;
  font-size: 13px;
  color: #fff;
  background-color: red;
  font-weight: bolder;

  align-self: center;

  padding: 7px;
  border: 2px solid red;
  border-radius: 5px;

  height: 35%;
  width: 85px;
  margin-left: 25px;

  cursor: pointer;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 50px;

  margin-top: 150px;

  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

h3 {
  color: #fff;
  text-align: center;

  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

p {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.form-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.form-row input[type="email"] {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;

  width: 400px;
  height: 45px;
  padding: 7px;
  font-size: 14px;

  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
}

.getstarted-button {
  text-align: center;
  color: #fff;
  background-color: red;
  font-weight: bolder;

  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

  padding: 10px;
  border: 2px solid red;
  height: 47px;
  width: 100px;

  cursor: pointer;
}
