* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
  font-weight: 400;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 4fr 1fr;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* START OF NAV CONTENT */
.header-container {
  display: flex;
  flex-wrap: wrap;

  color: #fff;
  background-color: rgb(30, 30, 30);

  padding: 50px 0px;
}

.nav-content {
  color: bisque;

  display: flex;
  justify-content: space-between;
  gap: 1em;

  margin: 0px 20px;
}

.header-logo:hover {
  color: darksalmon;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10px;
}

.page-links {
  text-decoration: none;
  color: bisque;
}

.page-links:hover {
  color: darksalmon;
}

.page-links:active {
  color: cyan;
}

.page-links:visited {
  color: bisque;
}

.header-logo {
  display: flex;
  /* margin-left: 10px; */
  justify-content: end;
  align-items: center;
  width: 165px;

  font-size: 12px;
  font-weight: bold;

  text-decoration: underline;
  text-underline-offset: 5.5px;
}
/* END OF HEADER */

/* START OF MAIN CONTENT */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;

  width: 100%;
  height: 100%;

  padding: 30px 15px 10px 25px;
}

h1,
h2,
h3,
p {
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;

  margin-top: 1.7em;
  margin-bottom: 5px;
}

h3 {
  margin: 30px 0px 15px -35px;
  font-size: 18px;
  text-align: left;
  margin-bottom: 45px;
}

p {
  font-size: 13px;
  width: 260px;

  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 1em;
  margin: 10px 0px 17px 0;
  padding-left: 25.5px;

  width: 100%;
  height: 100%;
}

.resume-btn {
  background-color: #3b3b3b;
  padding: 7px;
  border-radius: 14px;
}

.button-one {
  color: #fff;
  cursor: pointer;

  background-color: #3b3b3b;
  border: 1px solid transparent;
}

.portfolio-btn {
  background-color: #3b3b3b;
  padding: 7px;
  border-radius: 14px;
}

.button-two {
  color: #fff;
  cursor: pointer;

  background-color: #3b3b3b;
  border: 1px solid transparent;
}

/* START OF CONTACT */
h3 {
  text-align: center;
}

.container {
  color: #fff;
  padding: 1px 5px 1px 5px;
  margin: 50px 30px;
  background: #00406d;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1em;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid green;
}

input[type="submit"] {
  background: #383838;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

input[type="submit"]:focus {
  background: #a5d6a7;
  color: whitesmoke;
}

input[type="submit"]:hover {
  background: #dcdcdc;
}

.center {
  text-align: center;
}
/* END OF CONTACT */

/* START OF FOOTER */
i {
  font-size: 25px;
  /* width: 100%;
  height: 100%; */
}

.social-links {
  display: flex;
  gap: 1em;
  list-style-type: none;
  position: fixed;

  width: 100%;

  justify-content: center;
  align-self: center;
  margin-top: 45px;

  grid-row: 4 / 5;
}

/* END OF FOOTER */
