* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

body {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;

  background-image: url(https://up-pro.ru/image/catalog/ads/simbirsoft/1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: ;
}

/* START HAMBURGER MENU */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(70, 70, 70);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 8px 27px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #7dd8ff;
}
/* END OF HAMBURGER MENU */

/* START OF HEADER */
.header-container {
  color: bisque;
  font-size: 12px;
  background-color: rgb(30, 30, 30);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

.header-name {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5.5px;

  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.header-name:hover {
  color: darksalmon;
}
/* END OF HEADER */

/* START OF MAIN CONTENT */
.main-exp {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.exp-title {
  color: bisque;

  grid-row: 1 / 2;
  grid-column: 1 / 4;

  width: 350px;
  font-size: 21px;
  text-align: center;
}

img {
  width: 100px;
  text-align: center;
}

.lang-one,
.lang-two {
  grid-row: 2 / 3;
}

.lang-three,
.lang-four {
  grid-row: 3 / 4;
}

.lang-five,
.lang-six {
  grid-row: 4 / 5;
}

.lang-seven {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}

.languages,
.years {
  color: bisque;
  text-align: center;
  font-size: 17px;
}
/* END OF MAIN CONTENT */

/* START OF SOCIAL LINKS */
.social-links {
  display: flex;

  padding-top: 4.5em;
  padding-bottom: 0.5em;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

i {
  font-size: 20px;
}
/* END OF SOCIAL LINKS */

/* START OF FOOTER */
.footer {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-align: center;

  padding: 1em;
}
/* END OF FOOTER */

/* START OF TABLET VIEW */
@media only screen and (min-width: 600px) and (max-width: 960px) {
  .menu__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 1%;
    left: -10%;
    width: 425px;

    background-color: transparent;
    box-shadow: none;
  }

  .menu__btn {
    display: none;
  }

  .prog-lang {
    display: grid;
    margin-bottom: 27px;
  }

  .exp-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
  }

  .lang-one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 1 / 1;
    grid-row: 2 / 3;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-two {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 4;
    grid-row: 2 / 3;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-three {
    display: flex;
    flex-direction: column;

    grid-column: 2 / 5;
    grid-row: 2 / 3;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-four {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 1;
    grid-row: 3 / 4;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-five {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 4;
    grid-row: 3 / 4;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-six {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  .lang-seven {
    display: flex;
    flex-direction: column;

    grid-column: 1 / 4;
    grid-row: 4 / 5;

    background-color: rgb(48, 47, 47);
    opacity: 0.9;

    padding: 2px;
  }

  img {
    width: 150px;
    text-align: center;
  }

  .languages,
  .years {
    color: bisque;
    text-align: center;
    font-size: 25px;
  }

  .social-links {
    display: flex;

    padding: 1em;
  }

  .footer {
    color: #fff;
    font-size: 25px;
    font-weight: bold;

    position: relative;
    max-height: 100dvh;

    padding: 1em;
  }
}
/* END OF TABLET VIEW */
