* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;

  background-image: url(https://up-pro.ru/image/catalog/ads/simbirsoft/1.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* START HAMBURGER MENU */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgb(70, 70, 70);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 8px 27px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #7dd8ff;
}
/* END OF HAMBURGER MENU */

/* START OF HEADER */
.header-container {
  color: bisque;
  font-size: 12px;
  background-color: rgb(30, 30, 30);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
}

/* .header-links a {
  text-decoration: none;
  color: bisque;
}

.header-links a:hover {
  color: grey;
}

.header-links a:active {
  color: cyan;
} */

.header-name {
  font-size: 17px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5.5px;

  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.header-name:hover {
  color: darksalmon;
}
/* END OF HEADER */

/* START OF MAIN CONTENT */
.main-container {
  color: #fff;
  padding: 5% 5%;

  font-weight: bolder;
}

.content-img {
  position: fixed;
  margin-left: 50%;
}

.content-one {
  display: flex;
  font-size: 20px;
  justify-content: left;

  margin-top: 15%;
  margin-left: 5.5%;
}

.content-two {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  justify-content: left;

  margin-left: 5.5%;
}

.content-three {
  display: flex;
  font-size: 20px;
  margin-top: 17%;

  justify-content: left;
}

.content-four {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: 15px;
  margin-top: 5%;

  justify-content: left;
}

p1 {
  background-color: rgb(30, 30, 30);
  opacity: 0.8;
}

p2 {
  background-color: rgb(30, 30, 30);
  opacity: 0.8;
}
/* END OF MAIN CONTENT */

/* START OF SOCIAL LINKS */
.social-links {
  display: flex;

  /* padding: 1px; */

  position: fixed;
  width: 100%;
  bottom: 5%;
  /* height: 19%; */
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

i {
  font-size: 20px;
}
/* END OF SOCIAL LINKS */

/* START OF FOOTER */
.footer {
  color: #fff;
  font-size: 17px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100%;
  bottom: 1%;
}
/* END OF FOOTER */

@media only screen and (max-width: 600px) {
}
