* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  height: 100vh;
  background-color: aliceblue;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 2.5fr 1fr 8fr 1fr;

  text-align: center;
  font-family: sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 2fr 8fr;

  background-color: grey;
  color: #fff;

  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  border: 1px solid black;
  grid-column: 1 /2;
  grid-row: 2 / 3;
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
