/* .person {
  background-color: azure;
  width: max-content;
  list-style-type: none;
  margin-left: -20px;
  padding: 2.5px;
}

.delete-btn {
  background: none;
  border: 1px solid black;
  border-radius: 30%;
} */
